<div class="post-nav">
    <div
        style="border: 1px dashed #e0e0e0; padding: 10px 10px 10px 10px; background-color: #fffeee; background-repeat: no-repeat; background-attachment: scroll; background-position: 1% 50%; -moz-background-size: auto auto; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">
        <div>
            <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/"><img alt="創用 CC 授權條款"
                    style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />
            本站內容由<a xmlns:cc="https://creativecommons.org/ns#" href="https://squarecho.github.io/"
                property="cc:attributionName" rel="cc:attributionURL">LuYa & Square</a>製作，以<a rel="license"
                href="https://creativecommons.org/licenses/by-nc/4.0/">創用CC 姓名標示-非商業性 4.0 國際 授權條款</a>釋出。<br />
            若有商業需求請來信聯絡 b98507006@gmail.com
        </div>
    </div>
    <div class="clear"></div>
</div>